<div class="m-4 relative">
  <img src="{{ url }}" alt="job" class="rounded-3xl h-96 w-full object-cover">

  <div class="absolute flex justify-center items-start flex-col gap-4 bottom-4 left-3 w-60 md:w-1/2 mx-4">
    <h1 class="text-blue-300 text-5xl md:text-8xl font-extrabold">{{ title }}</h1>
    <span class="text-white text-4xl">{{ description }}</span>

    <div class="x:flex justify-between w-full hidden">
      <button class="btn btn-primary">learn more</button>
    </div>
  </div>
</div>
