<div class="m-4 relative">
  <img src="/imges2/How to Get a Remote Nursing Job.jpeg" alt="job" class="rounded-3xl h-96 w-full object-cover">

  <div class="absolute flex justify-center items-center flex-col gap-4 bottom-4 left-3 w-60 mx-4">
    <h1 class="text-blue-300 text-3xl font-extrabold">GET IN THE VORTEX OF GAMMING AND INTERTAINMENT</h1>
    <span class="text-white">we offer quality services</span>

    <div class="flex justify-between w-full">
      <button class="btn btn-primary">learn more</button>
    </div>
  </div>
</div>
