<div class="rounded-xl overflow-hidden relative border">
  <img src="{{ url }}" alt="event" class="h-56 object-cover w-full">

  <div class="absolute top-1 right-1">{{ title }}</div>
  <div class="flex justify-end px-2 text-xs">Monday 12 2023 by Merlin</div>
  <div class="p-2">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores minus magni
    </p>
  </div>
  <div class="flex justify-between p-2">
    <div class="flex gap-2">
      <button class="btn btn-sm btn-primary rounded-box">Join</button>
      <a href="#" class="p-1 px-2 rounded-box bg-primary">Share</a>
    </div>

    <div class="rotate-3 bg-yellow-300 rounded-box p-1 text-base-300">1000frs</div>
  </div>
</div>
