<div>
  <div class="flex justify-center p-4">
    <div class="w-full md:w-[48rem]">
      <div>
        <img src="/imges2/img1.jpeg" alt="" class="rounded-box w-full object-cover">
      </div>
      <div class="flex justify-end">date 12-23-2021 merlin</div>

      <div class="text-2xl font-bold">
        <h1>Title</h1>
      </div>
      <div class="">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus consectetur officia, nihil odio ipsa nesciunt
          ex dicta non ad? Eveniet mollitia ab dolore rem. Dolore dignissimos pariatur sint doloremque voluptate?
          Lorem ipsum dolor sit .
        </p>
      </div>

      <div class="flex justify-between">
        <div>
          <div class="flex gap-2">
            <h1 class="font-bold">version</h1>
            <p>v1.0</p>
          </div>
          <div class="flex gap-2">
            <h1 class="font-bold">Consol</h1>
            <p>PC</p>
          </div>
          <div class="flex gap-2">
            <h1 class="font-bold">type</h1>
            <p>Adventure</p>
          </div>
        </div>

        <div class="gap-2">
          <button class="btn btn-md rounded-box btn-secondary" (click)="return()">Back</button>
        </div>
      </div>
    </div>
  </div>
</div>
