<div class="bg-base-300">
  <div class="grid grid-cols-1 md:grid-cols-3">
    <div class="m-2 col-span-1">
      <div class=" p-2 relative my-6 min-w-full">
        <img src="/imges2/vortexevent.jpeg" alt="" class="rounded-box blur-sm">
        <img src="/imges2/guardiansofthegalaxy.jpeg" alt=""
          class="rounded-box absolute top-6 -right-2 border border-black shadow-xl shadow-base-300 mr-2">
        <img src="/imges2/gearsofwar.jpeg" alt=""
          class="rounded-box absolute -bottom-4 left-14 h-3/4 w-3/4 object-cover border border-black shadow-xl shadow-base-300">
        <img src="/imges2/farcery.jpeg" alt=""
          class="rounded-box absolute -bottom-6 left-2 h-3/5 w-1/5 object-cover border border-black shadow-xl shadow-base-300">
      </div>
      <div class="flex">
        <div>
          <h1 class="font-bold p-2 mt-3 text-xl">Adapted to all devices</h1>

          <div class="font-light px-2">
            <p>
              We provide to you the best games on most gaming devices, pc, ps3, ps4, ps5, xbox, etc... <br>
              <span class="text-red-500 italic">Guarantied Satisfaction</span>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="p-4">
      <div class="font-bold text-2xl p-2">
        <h1>Vortex Gaming</h1>
      </div>

      <div class=" p-2 ">
        <div>
          <div class="p-2">
            <div>
              <h1>Usefull Links</h1>
            </div>
            <div class="divider w-1/2"></div>
            <div class="font-light">
              <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/games">Games</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/equipment">Equipment</a></li>
              </ul>
            </div>
            <div class="divider w-1/2"></div>
            <div class="text-sm">
              <p> &copy;vortex gaming 2023 </p>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div>
      <div class="px-6 py-4">
        <img src="/imges2/vortex11.png" alt="location" class="rounded-box">
      </div>
      <div class="px-6">
        <div class="flex gap-4">
          <h1 class="font-bold hover:text-blue-600">contact</h1> <span>+237 690087562</span>
        </div>
        <div class="flex gap-4">
          <h2 class="font-bold hover:text-blue-600">Mail</h2> <span>donacien@gmail.com</span>
        </div>
        <div class="flex gap-4">
          <h2 class="font-bold hover:text-blue-600">address</h2> <span>Dschang menoua</span>
        </div>
      </div>
    </div>
  </div>
</div>
