<app-top-image [title]="cat[0].title" [url]="imageUrl(cat[0].image).url()"></app-top-image>
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-5 m-4 rounded-3xl gap-4">
  <div class="col-span-1 md:col-span-2 lg:col-span-1">
    <div class="relative h-full">
      <div class="sticky top-0">
        <div class="py-2 px-1">
          <h1 class="font-bold text-3xl hover:text-blue-600">Best Games</h1>
        </div>
        <div>
          <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-1 gap-6">
            <div *ngFor="let item of bestGames">
              <app-blogcard [game]="item" [url]="imageUrl(item.mainImage).url()"></app-blogcard>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="col-span-1 md:col-span-2 lg:col-span-3">

    <div class="relative">
      <!-- Games -->
      <div class="py-2 px-1 sticky top-0 bg-base-100">
        <h1 class="font-bold text-3xl hover:text-blue-600">Games</h1>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">

        <div *ngFor="let game of games1">
          <app-itemcard [_id]="game._id" [title]="game.title" [url]="imageUrl(game.mainImage).url()"></app-itemcard>
        </div>

      </div>
    </div>

    <div class="relative">
      <!-- services -->
      <div class="py-2 px-1 sticky top-0 bg-base-100">
        <h1 class="font-bold text-3xl hover:text-blue-600">Services</h1>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">

        <div *ngFor="let service of services1">
          <app-itemcard [_id]="service._id" [title]="service.title" [url]="imageUrl(service.mainImage).url()">
          </app-itemcard>
        </div>

      </div>
    </div>
  </div>
  <div class="col-span-1 md:col-span-2 lg:col-span-1">
    <div class="relative h-full">
      <div class="sticky top-0">
        <div class="py-2 px-1">
          <h1 class="font-bold text-3xl hover:text-blue-600">Events</h1>
        </div>
        <div class="flex flex-col gap-2 justify-center">

          <div *ngFor="let event of Event1">
            <app-eventcard [_id]="event._id" [title]="event.title" [url]="imageUrl(event.mainImage).url()">
            </app-eventcard>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
