<div class="flex justify-center align-middle p-10">
  <div class="rounded-box grid md:grid-cols-3 grid-cols-1 bg-base-300 h-full w-full md:w-[48rem] overflow-hidden">
    <div class="col-span-1">
      <img src="/imges2/How to Get a Remote Nursing Job.jpeg" alt="login" class="h-full w-full object-cover">
    </div>
    <div class="col-span-2">
      <div class="p-5">
        <div class="text-3xl m-2 flex justify-center">
          <h1>Register</h1>
        </div>

        <div class="flex flex-col gap-4">
          <div class="flex flex-col gap-2">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" class="input">
          </div>

          <div class="flex flex-col gap-2">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" class="input">
          </div>

          <div class="flex flex-col gap-2">
            <label for="password">Password</label>
            <input type="password" id="password" name="name" class="input">
          </div>

          <div class="flex justify-around gap-2 m-3">
            <button type="submit" class="btn btn-md btn-success w-32">Login</button>

            <button type="button" class="btn btn-md btn-primary w-32">Register</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
