<app-top-image></app-top-image>
<div class="grid grid-cols-1 md:grid-cols-4">
  <div class="p-4">
    <div class="relative h-full">
      <div class="py-2 px-1 sticky top-0 bg-base-100 z-10">
        <h1 class="font-bold text-3xl hover:text-blue-600">Side items</h1>
      </div>
      <div>
        <div class="flex flex-col gap-2 justify-center">
          <app-eventcard></app-eventcard>

        </div>

        <div class="divider"></div>

        <div>
          <div class="py-2 px-1">
            <h1 class="font-bold text-3xl hover:text-blue-600">News</h1>
          </div>
          <div>
            <div class="grid grid-cols-1 gap-6">

              <app-blogcard></app-blogcard>
              <app-blogcard></app-blogcard>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-span-3 p-4">
    <div class="relative">
      <div class="py-2 px-1 sticky top-0 bg-base-100 flex justify-between items-center">
        <h1 class="font-bold text-3xl hover:text-blue-600">Games</h1>

        <div>
          <input type="text" name="search" id="search" placeholder="Search..."
            class="rounded-box shadow shadow-base-100 form-control bg-gray-700 px-2 max-w-[12rem]">
        </div>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
        <app-itemcard></app-itemcard>
        <app-itemcard></app-itemcard>
        <app-itemcard></app-itemcard>
        <app-itemcard></app-itemcard>
        <app-itemcard></app-itemcard>
        <app-itemcard></app-itemcard>
        <app-itemcard></app-itemcard>

      </div>
    </div>
  </div>
</div>
